<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{% block title %}Discogs Tags{% endblock %}</title>

   <!-- Bootstrap -->
   <!--<link href="/static/css/bootstrap.min.css" rel="stylesheet">-->
   <!--<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">-->
   <!--<link href="/static/css/fbposter.css" rel="stylesheet">-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
   <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">-->

    <!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.css">

   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
 </head>
 <body>
  <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Discogs Tags</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
        {% if user and not user.is_anonymous %}
        <p class="navbar-text">Signed in as {{ user.get_full_name|default:user.username }}</p>
        {%endif%}
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" method="get" action="{%url 'website:search'%}">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="q">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li>
        {% if user and not user.is_anonymous %}
        <form action="{%url 'website:logout'%}">
          <button type="submit" class="btn btn-default navbar-btn"> Logout</button>
        </form>
        {%endif%}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Page Content -->
<div class="container">
  {% if user and not user.is_anonymous %}

  {% block container %}  {% endblock %}

  {% else %}
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center">Login</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 top-buffer">
          <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="btn btn-block btn-social btn-facebook"> <i class="fa fa-facebook"></i>Login with Facebook</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 top-buffer">
          <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-block btn-social btn-google-plus"><i class="fa fa-google-plus"></i>Login with Google</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 top-buffer">
          <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-block btn-social btn-twitter"><i class="fa fa-twitter"></i>Login with Twitter</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Page Heading -->
  <!--<div class="row">-->
  <!--<div class="col-lg-12">-->
  <!--<h2 class="page-header text-center">Popular Tags</h2>-->
  <!--</div>-->
  <!--</div>-->
  <!-- /.row -->
</div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy;</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  {% block script %}  {% endblock %}
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <!--<script src="/static/js/bootstrap.min.js"></script>-->
	<style>
		.top-buffer { margin-top:20px; }
			</style>
 </body>
</html>
